body{
    margin:0;
    padding: 0;
    border: 0;
    font-family: "Century Gothic", serif;
    background-color: antiquewhite;
}

.alert {

        background-color: #f44336; /* Red */
        color: white;

    margin-top: -500px;
    margin-left: 800px;
    width: 500px;
    position: static;
    font-size: 20px;

    }

    /* The close button */
.closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    /* When moving the mouse over the close button */
.closebtn:hover {
        color: black;
    }
.container{
    margin-top: -130px;
    margin-right: 50px;
    width: 500px;
    position: static;
    font-size: 25px;
    font-weight: bold;
}
